/* 导入基础设置 */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Microsoft YaHei';
    font-size: 62.5%;
    color: #4C4C4C;
}

body {
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: .1rem;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
pre {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    color: #4C4C4C;
}

ul,
ol {
    list-style: none;
}

.lf {
    float: left;
}

.rf {
    float: right;
}

.clear::after,
.clear::before {
    content: '';
    display: block;
    clear: both;
}


/* 自定义样式设置 */


/* 导入媒体查询 */

@media only screen and (min-width: 320px) {
    html {
        font-size: 53.33% !important;
    }
}

@media only screen and (min-width: 360px) {
    html {
        font-size: 60% !important;
    }
}

@media only screen and (min-width: 375px) {
    html {
        font-size: 62.5% !important;
    }
}

@media only screen and (min-width: 384px) {
    html {
        font-size: 64% !important;
    }
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 66.7% !important;
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size: 69% !important;
    }
}

@media only screen and (min-width: 424px) {
    html {
        font-size: 70.7% !important;
    }
}

@media only screen and (min-width: 481px) {
    html {
        font-size: 81.7% !important;
    }
}

@media only screen and (min-width: 540px) {
    html {
        font-size: 90% !important;
    }
}

@media only screen and (min-width: 561px) {
    html {
        font-size: 93.5% !important;
    }
}

@media only screen and (min-width: 641px) {
    html {
        font-size: 109% !important;
    }
}

@media only screen and (min-width: 750px) {
    html {
        font-size: 125% !important;
    }
}

.tipProp {
    display: none;
    position: fixed;
    z-index: 20;
    padding: .5rem 1rem;
    max-width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: grey;
    color: white;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 3px;
    text-align: center;
}